:root {
  --primary-color: #28bdbd;
  --secondary-color: #f1b742;
  --background-color: #f1f9f9;
  --text-color-dark: #000000;
  --text-color-light: #8d8d8d;
  --text-color-white: #ffffff;
  --font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  padding: 0 1rem;
}
nav ul {
  padding: 0;
}

main {
  padding: 2rem 3rem;
}
main h1 {
  margin: 1rem 0 0 0;
}
main .summaryCards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
main .summaryCards .summaryCard {
  flex: 1 1 calc(25% - 2rem);
  flex: 1;
  background-color: white;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #d4dfdf;
  text-align: center;
  min-width: 15rem;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color-dark);
}
main .summaryCards .summaryCard:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
main .summaryCards .summaryCard .summaryCardInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 300;
}
main .summaryCards .summaryCard .summaryCardInfo .material-symbols-outlined {
  font-size: 1.25rem;
  color: var(--text-color-light);
  font-weight: 100;
}
main .summaryCards .summaryCard:nth-child(1) .material-symbols-outlined {
  color: var(--secondary-color);
}
main .summaryCards .summaryCard:nth-child(2) .material-symbols-outlined {
  color: orangered;
}
main .summaryCards .summaryCard:nth-child(3) .material-symbols-outlined {
  color: var(--primary-color);
}
main .summaryCards .summaryCard .summaryCardValue {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color-dark);
}
main .summaryCards .summaryCard .progressBar {
  margin-top: 0.5rem;
  width: 100%;
  height: 0.75rem;
  background-color: var(--secondary-color);
  border-radius: 0.375rem;
}
main .summaryCards .summaryCard .additionalText {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--text-color-light);
}
main .achievementFilter {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #e9eeef;
  min-height: 2rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
main .achievementFilter li {
  width: 20%;
}
main .achievementFilter li button {
  border: none;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: var(--text-color-light);
  font-weight: 700;
}
main .achievementFilter li button.active {
  background-color: white;
  color: var(--text-color-dark);
}
main .achievementCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  width: 100%;
}
main .achievementCards .achievementCard {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d4dfdf;
  text-align: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color-dark);
  text-align: left;
}
main .achievementCards .achievementCard:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
main .achievementCards .achievementCard .achievementIcon {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  aspect-ratio: 1;
  background-color: #eaf3f2;
  color: var(--text-color-light);
}
main .achievementCards .achievementCard .achievementCardInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 300;
}
main .achievementCards .achievementCard .achievementCardValue {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color-dark);
}
main .achievementCards .achievementCard .progressBar {
  margin: 0.5rem 0;
  width: 100%;
  height: 1rem;
  background-color: var(--secondary-color);
  border-radius: 0.375rem;
}

@media (max-width: 768px) {
  .achievementCards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}