:root {
  --primary-color: #28bdbd;
  --secondary-color: #f1b742;
  --background-color: #f1f9f9;
  --text-color-dark: #000000;
  --text-color-light: #8d8d8d;
  --text-color-white: #ffffff;
  --font-family: "Roboto", sans-serif;
  /* Borders */
  --border-light: 1px solid #d4dfdf;
  /* Border Radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  /* Box Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 4px 10px rgba(0, 0, 0, 0.2);
  --shadow-dropdown: 0 8px 20px rgba(0, 0, 0, 0.08);
  /* Background Colors */
  --bg-white: #ffffff;
  --bg-light-gray: #fbfdfc;
  --bg-input: #f1f9f9;
  --bg-filter: #e9eeef;
  --bg-light-tile: #f3f7f7;
  --bg-card: #fefffe;
  --bg-nav-active: #f8fafb;
  --bg-light-teal: #e9efee;
  --bg-hover: #e8eeee;
  --bg-border-color: #d4dfdf;
  --bg-light-teal-faint: #eaf3f2;
  --bg-light-green: #e8f5e9;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  height: 100dvh;
  width: 100dvw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.alwaysShow {
  display: block !important;
}

.mainNav {
  background-color: #fbfdfc;
  box-shadow: var(--shadow-sm);
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
.mainNav .hero {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}
.mainNav ul.navbar-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0;
  height: 100%;
}
.mainNav ul.navbar-list li.navbar-list-item a.navbar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-md);
  color: var(--text-color-dark);
}
.mainNav ul.navbar-list li.navbar-list-item a.navbar-link .label {
  text-decoration: none;
  color: var(--text-color-dark);
  font-weight: 500;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}
.mainNav ul.navbar-list li.navbar-list-item a.navbar-link:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  nav.mainNav {
    padding: 0 1rem;
  }
  nav.mainNav ul {
    gap: 1rem;
  }
  nav.mainNav ul li {
    padding: 0 0.5rem;
  }
  nav.mainNav ul li .label {
    font-size: 0.9rem;
  }
}
@media (max-width: 425px) {
  nav.mainNav {
    padding: 0 1rem;
  }
  nav.mainNav .hero {
    font-size: 1rem;
  }
  nav.mainNav ul {
    gap: 0.5rem;
  }
  nav.mainNav ul li.navbar-list-item a.navbar-bar-link {
    padding: 0 0.125rem;
  }
  nav.mainNav ul li.navbar-list-item a.navbar-bar-link .label {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */