:root {
  --primary-color: #28bdbd;
  --secondary-color: #f1b742;
  --background-color: #f1f9f9;
  --text-color-dark: #000000;
  --text-color-light: #8d8d8d;
  --text-color-white: #ffffff;
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 2rem 2rem 1rem 2rem;
  min-width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form h1 {
  margin: 0;
  color: var(--text-color-dark);
}
form h2 {
  margin: 0;
  color: var(--text-color-light);
  font-size: 1rem;
  font-weight: 400;
}
form label {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color-dark);
}
form input {
  padding: 0.5rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #d4dfdf;
  box-sizing: border-box;
  font-family: var(--font-family);
}
form input:focus {
  outline: 1px solid transparent;
  border: 2px solid var(--primary-color);
  background-color: #ffffff;
}
form button {
  margin-top: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form .switchAuth {
  color: var(--text-color-dark);
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}
form .switchAuth:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

@media (max-width: 425px) {
  form {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    min-width: 0;
  }
  form h1 {
    font-size: 1.5rem;
  }
  form h2 {
    font-size: 0.9rem;
  }
  form button {
    font-size: 0.9rem;
  }
}