:root {
    --primary-color: #28bdbd;
    --secondary-color: #f1b742;
    --background-color: #f1f9f9;
    --text-color-dark: #000000;
    --text-color-light: #8d8d8d;
    --text-color-white: #ffffff;
    --font-family: 'Roboto', sans-serif;
    
    /* Borders */
    --border-light: 1px solid #d4dfdf;
    
    /* Border Radius */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    
    /* Box Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* Background Colors */
    --bg-white: #ffffff;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--bg-white);
    padding: 2rem 2rem 1rem 2rem;
    min-width: 20rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);

    h1 {
        margin: 0;
        color: var(--text-color-dark);
    }

    h2 {
        margin: 0;
        color: var(--text-color-light);
        font-size: 1rem;
        font-weight: 400;
    }

    label {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--text-color-dark);
    }

    input {
        padding: 0.5rem;
        background-color: var(--background-color);
        border-radius: var(--border-radius-md);
        font-size: 0.8rem;
        border: var(--border-light);
        box-sizing: border-box;
        font-family: var(--font-family);

        &:focus {
            outline: 1px solid transparent;
            border: 2px solid var(--primary-color);
            background-color: var(--bg-white);
        }
    }

    button {
        margin-top: 0.5rem;
        background-color: var(--primary-color);
        color: var(--text-color-white);
        border: none;
        padding: 0.75rem;
        border-radius: var(--border-radius-sm);
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .switchAuth {
        color: var(--text-color-dark);
        font-size: 0.875rem;
        text-align: center;
        padding: 1rem;
        border-radius: var(--border-radius-md);
        text-decoration: none;
        font-weight: 600;

        &:hover {
            cursor: pointer;
            background-color: var(--secondary-color);
        }
    }
}

@media (max-width: 425px) {

    form {
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        min-width: 0;

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 0.9rem;
        }

        button {
            font-size: 0.9rem;
        }
    }
}