.mainNav {
    background-color: var(--background-color);
    box-shadow: none;
    ul {
        li.navbar-list-item {

            a.navbar-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                box-sizing: border-box;
                padding: 0.5rem 2rem;
                border-radius: 0.5rem;

                height: 2.5rem;
                width: 100%;
                text-decoration: none;
                color: var(--text-color-dark);

                .label {
                    color: var(--text-color-dark);
                    font-weight: 500;
                }

            }

            &:not(:last-child):hover {
                a.navbar-link {
                    background-color: var(--secondary-color);
                    cursor: pointer;
                }
            }

            &:last-child {
                a.navbar-link {
                    background-color: var(--primary-color);

                    .label {
                        color: var(--text-color-white);
                    }

                    .authIcon {
                        color: var(--text-color-white);
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    h1 {
        font-size: 3.5rem;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        text-align: center;
        color: var(--text-color-light);
        font-weight: 400;
    }
    a.get-started-button {
        padding: 0.75rem 2rem;
        font-size: 1.25rem;
        font-weight: 500;
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        color: var(--text-color-white);
        border: none;
        text-decoration: none;
        &:hover {
            transform: scale(1.05);
            transition: 0.3s;
            cursor: pointer;
        }
    }
    .infoCards {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .infoCard {
            background-color: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
            width: 15rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            &:hover {
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                cursor: pointer;
            }
            span {
                font-size: 4rem;
                color: var(--primary-color);
            }
            &:nth-child(2) {
                span {
                    color: var(--secondary-color);
                }
            }
            h3 {
                font-size: 1.25rem;
                font-weight: 500;
            }
            p {
                color: var(--text-color-light);
                font-weight: 200;
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0 1.5rem;
        ul {
            gap: 1rem;
            li {
                padding: 0 1rem;
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
    main {
        padding: 0 2rem;
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1rem;
        }
    }
}
