@use "sass:list";
:root {
    --primary-color: #28bdbd;
    --secondary-color: #f1b742;
    --background-color: #f1f9f9;
    --text-color-dark: #000000;
    --text-color-light: #8d8d8d;
    --text-color-white: #ffffff;
    --level-purple: #9952e0;
    --font-family: "Roboto", sans-serif;
    
    /* Borders */
    --border-light: 1px solid #d4dfdf;
    
    /* Border Radius */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-xl: 1.5rem;
    --border-radius-2xl: 2rem;
    
    /* Box Shadows */
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* Background Colors */
    --bg-white: #ffffff;
    --bg-light-tile: #f3f7f7;
    --bg-card: #fefffe;
    --bg-nav-item: #e9efee;
    --bg-nav-active: #f8fafb;
    --bg-hover: #e8eeee;
    --bg-border-color: #d4dfdf;
    --bg-light-tile-faint: #f7f9f9;
    --bg-light-gray: #f1f4f5;
    --bg-secondary-opacity: #f1b742BF;
}
body {
    width: 100dw;
    overflow-x: hidden;
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            gap: 2rem;
            .profileHero {
                border-radius: var(--border-radius-xl);
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                box-sizing: border-box;
                background: linear-gradient(to bottom right, #e8f9f8, #f4eefd);
                border: var(--border-light);
                box-shadow: var(--shadow-md);
                .profileInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    .profilePictureContainer {
                        width: 6rem;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: var(--bg-border-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            font-size: 4rem;
                            color: black;

                            @media (max-width: 768px) {
                                font-size: 3rem;
                            }
                        }
                        .customizeAvatarBtn {
                            background-color: inherit;
                            border: none;
                            cursor: pointer;
                        }
                    }
                    .profileDetails {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 0.5rem;
                        .profileNameEditContainer {
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            align-items: center;
                            gap: 0.5rem;
                            p {
                                font-size: 1.5rem;
                                font-weight: 600;
                                color: var(--text-color-dark);
                                margin: 0;
                                margin-block-start: 0;
                            }
                            .editProfileButton {
                                padding: 0.5rem;
                                border: none;
                                border-radius: var(--border-radius-md);
                                font-size: 1rem;
                                cursor: pointer;
                                transition: background-color 0.3s ease;
                                &:hover {
                                    background-color: var(--secondary-color);
                                }
                            }
                        }
                        .profileUsername {
                            font-size: 1rem;
                            font-weight: 400;
                            color: var(--text-color-light);
                            margin: 0;
                        }
                    }
                }
                .profileLevel {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: end;
                    text-align: right;
                    gap: 0.5rem;
                    width: 25%;
                    .levelBox {
                        background-color: var(--secondary-color);
                        display: flex;
                        align-items: center;
                        padding: 0.5rem;
                        border-radius: var(--border-radius-lg);
                        gap: 0.5rem;
                        .levelText {
                            font-size: 1rem;
                            font-weight: 500;
                            color: var(--text-color-dark);
                            margin: 0;
                        }
                        i {
                            font-size: 1.25rem;
                            color: black;
                        }
                        &:hover {
                            cursor: default;
                            background-color: var(--primary-color);
                        }
                    }
                    .levelTitle {
                        font-size: 1rem;
                        font-weight: 500;
                        color: var(--level-purple);
                        margin: 0;
                        width: 100%;
                    }
                    .currentLevelProgress {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        flex: 1;
                        width: 100%;
                        .currentLevelProgressNumerical {
                            font-size: 1rem;
                            font-weight: 400;
                            color: var(--text-color-light);
                            margin: 0;
                            margin-block-start: 0.25rem;
                        }
                        .currentLevelProgressBarContainer {
                            min-width: 0;
                            width: 100%;
                            flex: 0 0 0.75rem; // prevent flex from collapsing height
                            height: 0.75rem;
                            border-radius: var(--border-radius-sm);
                            background-color: var(--secondary-color);
                            overflow: hidden; // clip inner bar
                            .currentLevelProgressBar {
                                height: 100%;
                                border-radius: var(--border-radius-sm);
                                background-color: var(--level-purple);
                                transition: width 0.3s ease;
                                min-width: 0.1rem;
                                min-width: 0.1rem;
                            }
                        }
                    }
                    .totalXP {
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: var(--text-color-light);
                        margin: 0;
                        width: 100%;
                    }
                }
            }
            .profileNav {
                width: 100%;
                background-color: var(--bg-light-teal);
                border-radius: var(--border-radius-md);
                .profileNavList {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    padding: 0;
                    list-style: none;
                    width: 100%;
                    padding: 0.25rem;
                    box-sizing: border-box;
                    li.profileNavListItem {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        gap: 0.5rem;
                        font-size: 0.75rem;
                        padding: 0.25rem 1rem;
                        border-radius: var(--border-radius-md);
                        color: var(--text-color-light);
                        cursor: pointer;
                        .profileNavListItemLabel {
                            margin: 0;
                            font-weight: 500;

                            @media (max-width: 1024px) {
                                display: none;
                            }
                        }
                    }
                    .active {
                        background-color: var(--bg-nav-active);
                        color: var(--text-color-dark) !important;
                    }
                }
            }
            .profileStatistics {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: var(--bg-card);
                padding: 2rem;
                box-sizing: border-box;
                border-radius: var(--border-radius-lg);
                h2 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--text-color-dark);
                    margin: 0;
                }
                .statsContainer {
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 1rem;

                    .statsItem {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        background-color: var(--bg-light-tile);
                        margin: 0 0.5rem;
                        padding: 1rem 0.75rem;
                        border-radius: var(--border-radius-md);
                        .statItemIconContainer {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 20%;
                            background-color: var(--bg-border-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 1rem;
                            i {
                                font-size: 1.5rem;
                                color: black;
                            }
                        }
                        .statItemInfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            flex: 1;
                            .statItemValue {
                                font-size: 1.25rem;
                                font-weight: 600;
                                color: var(--text-color-dark);
                            }
                            .statItemLabel {
                                font-size: 0.875rem;
                                font-weight: 400;
                                color: var(--text-color-light);
                            }
                        }
                        $colors: (#28bdbd, #50c878, #ff8c00, #f1b742, #9952e0);
                        @for $i from 1 through 6 {
                            &:nth-child(#{$i}) {
                                $color: list.nth($colors, (($i - 1) % list.length($colors)) + 1);

                                .statItemIconContainer {
                                    background-color: rgba($color, 0.15);
                                }

                                i {
                                    color: $color;
                                }
                            }
                        }
                        &:hover {
                            background-color: var(--bg-hover);
                            transition: 0.3s;
                        }
                    }
                    @media (max-width: 1024px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            .profileAchievements {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: var(--bg-card);
                padding: 2rem;
                box-sizing: border-box;
                border-radius: var(--border-radius-lg);
                .profileAchievementsHeader {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0.5rem;
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: var(--text-color-dark);
                        margin: 0;
                    }
                    .profileAchievementsCount {
                        background-color: var(--secondary-color);
                        padding: 0.25rem 0.75rem;
                        border-radius: var(--border-radius-2xl);
                    }
                }

                .achievementsContainer {
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    row-gap: 1rem;

                    .achievementItem {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--bg-light-tile);
                        margin: 0 0.5rem;
                        padding: 1.25rem 0.75rem;
                        border-radius: var(--border-radius-md);
                        gap: 0.5rem;
                        .achievementItemHint {
                            display: none;
                            position: absolute;
                            margin-bottom: 11rem;
                            opacity: 0.8;
                            background-color: var(--bg-white);
                            border: var(--border-light);
                            border-radius: var(--border-radius-md);
                            padding: 0.5rem 1rem;
                            box-sizing: border-box;
                            max-width: 100%;
                            box-shadow: var(--shadow-md);
                            .achievementItemHintTitle {
                                margin: 0;
                                font-size: 1rem;
                                font-weight: 500;
                                color: var(--text-color-dark);
                            }
                            .achievementItemHintDesc {
                                margin: 0;
                                font-size: 0.875rem;
                                color: var(--text-color-light);
                            }

                            p {
                                margin: 0;
                                font-size: 0.875rem;
                                color: var(--text-color-dark);
                            }
                        }
                        &:hover .achievementItemHint {
                            display: block;
                        }
                        .achievementItemIconContainer {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            background-color: var(--bg-border-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i {
                                font-size: 1.25rem;
                                color: black;
                            }
                        }
                        .achievementItemInfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex: 1;
                            text-align: center;
                            gap: 0.5rem;
                            .achievementItemLabel {
                                font-size: 0.875rem;
                                font-weight: 400;
                                color: var(--text-color-light);
                            }
                        }
                        &.unlocked {
                            background-color: var(--bg-secondary-opacity);
                            .achievementItemIconContainer {
                                background-color: var(--secondary-color);
                                i {
                                    color: var(--text-color-white);
                                }
                            }
                            .achievementItemInfo {
                                .achievementItemLabel {
                                    color: var(--text-color-white);
                                    font-weight: 500;
                                }
                            }


                        }
                    }
                    
                    @media (max-width: 1200px) {
                        grid-template-columns: repeat(4, 1fr);
                    }
                    @media (max-width: 768px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            @media (max-width: 1024px) {
                width: 80%;
            }
            @media (max-width: 768px) {
                width: 90%;
            }
            .profileFriends {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: var(--bg-card);
                border-radius: var(--border-radius-lg);
                padding: 2rem;
                box-sizing: border-box;
                gap: 1rem;
                .profileFriendsHeader {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0.5rem;
                    .profileFriendsHeaderTitle {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: var(--text-color-dark);
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                    .addFriendBtn {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        padding: 0.5rem 1rem;
                        background-color: var(--bg-nav-active);
                        color: var(--text-color-dark);
                        border: var(--border-light);
                        border-radius: var(--border-radius-md);
                        font-size: 1rem;
                        font-weight: 500;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        &:hover {
                            background-color: var(--secondary-color);
                        }
                    }
                }
                .friendsContainer {
                    width: 100%;
                    .friendsList {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .friendItem {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            flex: 1;
                            background-color: var(--bg-light-tile-faint);
                            border-radius: var(--border-radius-md);
                            padding-right: 1rem;
                            box-sizing: border-box;
                            .friendInfo {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1rem;
                                padding: 1rem;
                                .friendProfilePicContainer {
                                    width: 3rem;
                                    aspect-ratio: 1 / 1;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    background-color: var(--bg-border-color);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    i {
                                        font-size: 2rem;
                                        color: black;
                                    }
                                }
                                .friendScreenname {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: var(--text-color-dark);
                                }
                            }
                            .friendStreak {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 0.5rem;
                                padding: 0.5rem 0.75rem;
                                border-radius: 2rem;
                                background-color: var(--secondary-color);
                                i {
                                    font-size: 1.25rem;
                                    color: #ff8c00;
                                }
                                p {
                                    margin: 0;
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: var(--text-color-dark);
                                }
                            }
                        }
                    }
                }
            }
            .profileSettings {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: var(--bg-card);
                border-radius: var(--border-radius-lg);
                padding: 2rem;
                box-sizing: border-box;
                gap: 1rem;
                .settingsHeader {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: var(--text-color-dark);
                        margin: 0;
                    }
                    .settingsDescription {
                        font-size: 1rem;
                        font-weight: 400;
                        color: var(--text-color-light);
                        margin: 0;
                    }
                }
                .settingsContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .settingsList {
                        .settingsItem {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0.5rem;
                            .settingsItemInfo {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1rem;
                                i {
                                    font-size: 1.5rem;
                                    color: var(--text-color-light);
                                }
                                .settingsItemInfoText {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: start;
                                    gap: 0.25rem;
                                    .settingsItemLabel {
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: var(--text-color-dark);
                                    }
                                    .settingsItemDesc {
                                        font-size: 0.875rem;
                                        color: var(--text-color-light);
                                    }
                                }
                            }
                            .settingsItemToggle {
                                width: 3rem;
                                height: 1.5rem;
                                border-radius: var(--border-radius-2xl);
                                background-color: var(--bg-border-color);
                                position: relative;
                                cursor: pointer;
                                display: inline-flex;
                                align-items: center;
                                input[type="checkbox"] {
                                    display: none;
                                }
                                .toggleCircle {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    border-radius: 50%;
                                    background-color: #ffffff;
                                    position: absolute;
                                    top: 0.125rem;
                                    left: 0.125rem;
                                    transition: left 0.3s ease;
                                }
                                input[type="checkbox"]:checked + .toggleCircle {
                                    left: 1.625rem;
                                }
                                &:has(input[type="checkbox"]:checked) {
                                    background-color: var(--primary-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .customizeProfileMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        .customizeProfileMenuContainer {
            background-color: var(--bg-white);
            border-radius: var(--border-radius-lg);
            padding: 2rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            h1 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--text-color-dark);
            }
            .customizeOptions {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .avatarOptions {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 0.5rem;

                    h2 {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--text-color-dark);
                    }
                    .avatarOptionsContainer {
                        grid-template-columns: repeat(8, 1fr);
                        gap: 0.5rem;
                        display: grid;
                        .avatarOptionItem {
                            width: 3rem;
                            aspect-ratio: 1 / 1;
                            overflow: hidden;
                            background-color: var(--bg-light-gray);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: var(--border-light);
                            border-radius: var(--border-radius-lg);
                            cursor: pointer;
                            i {
                                font-size: 2rem;
                                color: black;
                            }
                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                        .customizeOptionActive {
                            border: 2px solid var(--primary-color);
                        }
                    }
                }
                .backgroundColorChange {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 0.5rem;

                    h2 {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--text-color-dark);
                    }
                    .backgroundColorOptionsContainer {
                        display: grid;
                        width: 100%;
                        grid-template-columns: repeat(8, 1fr);
                        gap: 0.5rem;
                        .bgColorOptionItem {
                            flex: 1;
                            aspect-ratio: 1 / 1;
                            border-radius: var(--border-radius-lg);
                            border: var(--border-light);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.25rem;

                            .bgColorOptionCircle {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                box-shadow:
                                    0 0 0 2px #fff,
                                    0 0 0 3px rgba(0, 0, 0, 0.08);
                            }
                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                        .customizeOptionActive {
                            border: 2px solid var(--primary-color);
                        }
                    }
                }
                .borderStyleChange {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 0.5rem;

                    h2 {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--text-color-dark);
                    }
                    .borderStyleOptionsContainer {
                        display: grid;
                        width: 100%;
                        grid-template-columns: repeat(8, 1fr);
                        gap: 0.5rem;
                        .borderStyleOptionItem {
                            flex: 1;
                            aspect-ratio: 1 / 1;
                            overflow: hidden;
                            background-color: var(--bg-light-gray);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: var(--border-light);
                            border-radius: var(--border-radius-lg);
                            cursor: pointer;
                            .borderStyleOptionPreview {
                                width: 100%;
                                aspect-ratio: 1 / 1;
                                border-radius: 50%;
                                background-color: var(--bg-border-color);
                            }
                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                        .customizeOptionActive {
                            border: 2px solid var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}
