:root {
    --primary-color: #28bdbd;
    --secondary-color: #f1b742;
    --background-color: #f1f9f9;
    --text-color-dark: #000000;
    --text-color-light: #8d8d8d;
    --text-color-white: #ffffff;
    --level-purple: #9952e0;
    --font-family: "Roboto", sans-serif;
}
body {
    width: 100dw;
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            gap: 2rem;
            .profileHero {
                border-radius: 1.5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                box-sizing: border-box;
                background: linear-gradient(to bottom right, #e8f9f8, #f4eefd);
                border: 1px solid #d4dfdf;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                .profileInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                    .profilePictureContainer {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 1.5rem;
                        background-color: #d4dfdf;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            font-size: 5rem;
                            color: black;
                        }
                    }
                    .profileDetails {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 0.5rem;
                        .profileNameEditContainer {
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            align-items: center;
                            gap: 1rem;
                            p {
                                font-size: 1.5rem;
                                font-weight: 600;
                                color: var(--text-color-dark);
                                margin: 0;
                                margin-block-start: 0;
                            }
                            .editProfileButton {
                                margin-top: 0.5rem;
                                padding: 0.5rem 1rem;
                                background-color: var(--primary-color);
                                color: white;
                                border: none;
                                border-radius: 0.5rem;
                                font-size: 1rem;
                                cursor: pointer;
                                transition: background-color 0.3s ease;
                                &:hover {
                                    background-color: var(--primary-color-dark);
                                }
                            }
                        }
                    }
                }
                .profileLevel {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: end;
                    text-align: right;
                    gap: 0.5rem;
                    .levelBox {
                        margin-right: 0.5rem;
                        background-color: var(--secondary-color);
                        display: flex;
                        align-items: center;
                        padding: 0.5rem;
                        border-radius: 1rem;
                        gap: 0.5rem;
                        &:hover {
                            cursor: default;
                            background-color: var(--primary-color);
                        }
                    }
                    .levelTitle {
                        font-size: 1rem;
                        font-weight: 500;
                        color: var(--level-purple);
                        margin: 0;
                        width: 100%;
                    }
                    .currentLevelProgress {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        .currentLevelProgressNumerical {
                            font-size: 1rem;
                            font-weight: 400;
                            color: var(--text-color-light);
                            margin: 0;
                            margin-block-start: 0.25rem;
                        }
                        .currentLevelProgressBar {
                            min-width: 200px;
                            height: 0.75rem;
                            border-radius: 0.25rem;
                            background-color: var(--secondary-color);
                        }
                    }
                    .totalXP {
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: var(--text-color-light);
                        margin: 0;
                        width: 100%;
                    }
                }
            }
            .profileNav {
                width: 100%;
                background-color: #e9efee;
                border-radius: 0.5rem;
                .profileNavList {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    padding: 0;
                    list-style: none;
                    width: 100%;
                    padding: 0.25rem;
                    box-sizing: border-box;
                    li.profileNavListItem {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        gap: 0.5rem;
                        font-size: 0.75rem;
                        padding: 0.25rem 1rem;
                        border-radius: 0.5rem;
                        color: var(--text-color-light);
                    }
                    .active {
                        background-color: #f8fafb;
                        color: var(--text-color-dark) !important;
                    }
                }
            }
            .profileStatistics {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fefffe;
                padding: 2rem;
                box-sizing: border-box;
                border-radius: 1rem;
                h2 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--text-color-dark);
                    margin: 0;
                }
                .statsContainer {
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 1rem;

                    .statsItem {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        background-color: #f3f7f7;
                        margin: 0 0.5rem;
                        padding: 1rem 0.75rem;
                        border-radius: 0.5rem;
                        .statItemIconContainer {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 20%;
                            background-color: #d4dfdf;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 1rem;
                            i {
                                font-size: 1.5rem;
                                color: black;
                            }
                        }
                        .statItemInfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            flex: 1;
                            .statItemValue {
                                font-size: 1.25rem;
                                font-weight: 600;
                                color: var(--text-color-dark);
                            }
                            .statItemLabel {
                                font-size: 0.875rem;
                                font-weight: 400;
                                color: var(--text-color-light);
                            }
                        }
                        $colors: (#28bdbd, #50C878, #FF8C00, #f1b742, #9952e0);
                        @for $i from 1 through 6 {
                            &:nth-child(#{$i}) {
                                $color: nth($colors, (($i - 1) % length($colors)) + 1);

                                .statItemIconContainer {
                                    background-color: rgba($color, 0.15);
                                }

                                i {
                                    color: $color;
                                }
                            }
                        }
                        &:hover {
                            background-color: #e8eeee;
                            transition: 0.3s;
                        }
                    }
                }
            }
            .profileAchievements {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fefffe;
                padding: 2rem;
                box-sizing: border-box;
                border-radius: 1rem;
                .profileAchievementsHeader {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0.5rem;
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: var(--text-color-dark);
                        margin: 0;
                    }
                    .profileAchievementsCount {
                        background-color: var(--secondary-color);
                        padding: 0.25rem 0.75rem;
                        border-radius: 1rem;
                    }
                }

                .achievementsContainer {
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    row-gap: 1rem;

                    .achievementItem {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #f3f7f7;
                        margin: 0 0.5rem;
                        padding: 1rem 0.75rem;
                        border-radius: 0.5rem;
                        gap: 0.5rem;
                        .achievementItemIconContainer {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            background-color: #d4dfdf;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i {
                                font-size: 1.25rem;
                                color: black;
                            }
                        }
                        .achievementItemInfo {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex: 1;
                            text-align: center;
                            gap: 0.5rem;
                            .achievementItemLabel {
                                font-size: 0.875rem;
                                font-weight: 400;
                                color: var(--text-color-light);
                            }
                        }
                    }
                }
            }
        }
    }
}
