:root {
    --primary-color: #28bdbd;
    --secondary-color: #f1b742;
    --background-color: #f1f9f9;
    --text-color-dark: #000000;
    --text-color-light: #8d8d8d;
    --text-color-white: #ffffff;
    --font-family: "Roboto", sans-serif;
    
    /* Borders */
    --border-light: 1px solid #d4dfdf;
    
    /* Border Radius */
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    
    /* Background Colors */
    --bg-white: #ffffff;
}

nav {
    box-shadow: none;
    background-color: var(--background-color);
    padding: 0 1rem;
    ul {
        padding: 0;
        li.navbar-list-item {
            padding: 0 0.5rem;

            a.navbar-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                box-sizing: border-box;
                padding: 0 1rem;
                border-radius: var(--border-radius-md);

                height: 2.5rem;
                width: 100%;
                text-decoration: none;
                color: var(--text-color-dark);

                .label {
                    color: var(--text-color-dark);
                    font-weight: 500;
                }
            }

            &:hover {
                a.navbar-link {
                    background-color: var(--secondary-color);
                    cursor: pointer;
                }
            }

        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    .container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-align: left;
            font-size: 2rem;
            font-weight: 600;
            color: var(--text-color-dark);
        }
        .profileSection {
            background-color: var(--bg-white);
            padding: 2rem;
            border-radius: var(--border-radius-lg);
            border: var(--border-light);
            width: 100%;
            box-sizing: border-box;

            .profileInfo {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                gap: 0.25rem;

                .profileInfoCaregory {
                    margin-top: 1.5rem;
                    font-size: 1rem;
                    color: var(--text-color-light);
                    margin: 0;
                }
                .profileInfoValue {
                    font-size: 1.25rem;
                    color: var(--text-color-dark);
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
        .stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            .statsCards {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: var(--bg-white);
                border: var(--border-light);
                border-radius: var(--border-radius-lg);
                width: 100%;
                box-sizing: border-box;
                padding: 0.5rem 1rem;

                .statsCard {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: var(--border-radius-md);
                    padding: 2rem 0.5rem;

                    .statValue {
                        font-size: 2rem;
                        font-weight: 900;
                        color: var(--primary-color);
                        margin: 0;
                    }
                    &:nth-child(2) {
                        .statValue {
                            color: var(--secondary-color);
                        }
                    }
                    .statCategory {
                        font-size: 1rem;
                        font-weight: 400;
                        color: var(--text-color-light);
                }
            }
        }
    }
}
}